.footer {
  width: 100%;
  background: $bg-section;
  font-family: 'DM Sans';
  display: flex;
  flex: wrap;
  justify-content: center;
  align-items: center;

  &__containFather {
    max-width: 480px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

  &__text {
    padding: 0;
    margin: 0;
  }

  &__h3 {
    max-width: 232px;
    color: $secondary-color;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin: 0;
  }
  &__h2 {
    max-width: 200px;
    font-weight: 400;
    font-size: 34px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primary-color;
    margin: 0;
  }

  &__contacts {
    max-width: 480px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  &__contactsSvgBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    margin-bottom: 40px;
  }

  &__svg-link {
    background-color: $bg-icon-social;
    fill: white;
    border-radius: 80%;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms ease-in-out;

    &:hover {
      background-color: $primary-color;
    }
  }

  &_contactsCell {
    display: flex;
    align-items: end;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 12px;
    line-height: 0%;
    letter-spacing: 0.02em;
    color: #000000;
  }
  &_contactsP {
    margin-left: 20px;
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: linear;
  }
  &_contactsP:hover {
    color: $primary-color;
    transform: scale(1.15);
  }

  .derechos {
    width: 100%;
    border-top: 1px solid #e1e1e1;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    &_p {
      text-align: center;
      line-height: 25%;
      font-family: 'DM Sans';
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.02em;
      color: $detail-color-text;
      transition-property: transform;
      transition-duration: 200ms;
      transition-timing-function: linear;

      &:hover {
        transform: scale(1.15);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    width: 100%;

    &__containFather {
      max-width: 768px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 128px;
    }

    &__h3 {
      color: $secondary-color;
      font-weight: 400;
      font-size: 26px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      margin: 0;
    }
    &__h2 {
      font-weight: 400;
      font-size: 48px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: $primary-color;
      margin: 0;
    }

    &__contacts {
      max-width: 768px;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
    }

    &__contactsSvgBox {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-left: 150px;
      margin-bottom: 40px;
    }

    &__svg-link {
      background-color: $bg-icon-social;
      fill: $text-white;
      border-radius: 80%;
      width: 34px;
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .derechos {
      width: 100%;

      &_p {
        text-align: center;
        line-height: 25%;
        font-family: 'DM Sans';
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: $detail-color-text;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    width: 100%;

    &__containFather {
      max-width: 1200px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    &__h3 {
      max-width: 474px;
      font-weight: 400;
      font-size: 30px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      margin: 0;
    }
    &__h2 {
      max-width: 480px;
      font-weight: 400;
      font-size: 58px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: $primary-color;
      margin: 0;
    }

    &__contacts {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
    }

    &__contactsSvgBox {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-left: 200px;
      margin-bottom: 40px;
    }

    &__svg-link {
      background-color: $bg-icon-social;
      fill: $text-white;
      border-radius: 80%;
      width: 34px;
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &_contactsCell {
      display: flex;
      align-items: end;
      font-family: 'DM Sans';
      font-weight: 500;
      font-size: 16px;
      line-height: 0%;
      letter-spacing: 0.02em;
      color: #000000;
    }

    .derechos {
      max-width: 1170px;

      &_p {
        text-align: center;
        line-height: 25%;
        font-family: 'DM Sans';
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.02em;
      }
    }
  }
}
