body,
button {
    font-family: 'Roboto', 'verdana', sans-serif !important;
}

h1, h2{
    font-family: 'Roboto' ;
}

.container {
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .container {
        max-width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

.link {
    text-decoration: none;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}