.header {
    background-color: $bg-hero;
    height: 664px;
    padding: 40px 16px 0;
}

.container--position {
    position: relative;
    height: 624px;
}

.logo {
    width: 200px;
    height: 50px;
}

.nav {
    display: flex;
    justify-content: space-between;    
    align-items: center;

    &__list {
        display: flex;
        justify-content: space-between;
        width: 541px;
        z-index: 2;
    }

    &__item {
        font-family: 'DM Sans';
        font-weight: 700;
        font-size: 16px;
        line-height: 1.3;
        color: $text-white;

        &:hover {
            color: $primary-color;
        }
    }

    &__btn {
        width: 159px;
        height: 44px;
        border-radius: 22px;
        font-family: 'DM Sans';
        font-weight: 700;
        font-size: 16px;
        line-height: 1.3;
        background-color: $text-white;
        color: $primary-color;
        text-decoration: none;
        border: none;

        &:hover {
            background-color: #ECEBEB;
        }
    }

    &__arrow {
        margin-left: 12px;
        width: 4px;
        height: 8px;
    }
}

.hd-title {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 38px;
    line-height: 1.15;
    width: 277px;
    height: 137px;
    color: $text-white;

    &--red {
        font-size: 58px;
        color: $primary-color;
    }
}

.hd-boxleft {
    display: flex;
    flex-direction: column;
    margin-top: 60px;

    &__buttons {
        padding-top: 24px;
    }

    &__btn:nth-child(1) {
        width: 107px;
        height: 40px;
        background: $primary-color;
        border-radius: 20px;
        text-decoration: none;
        border: none;
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 1.28;
        color: $text-white;
        margin-right: 12px;
    }

    &__btn:nth-child(2) {
        width: 138px;
        height: 40px;
        background: $text-white;
        border-radius: 20px;
        text-decoration: none;
        border: none;
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 1.28;
        color: $primary-color;

        &:hover {
            background-color: #ECEBEB;
        }
    }
}

.hd-info {
    display: flex;
    align-items: center;
    margin-top: 40px;

    &__text {
        width: 200px;
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: $text-white;
    }

    &__arrow{
        border-radius: 50%;
    }
}

.hd-values {
    position: absolute;
    top: 152px;
    right: 16px;

    &__list {
        display: flex;
        flex-direction: column;
        position: relative;
    }
}

.hd-values__item {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 46px;
    line-height: 1.15;
    text-align: right;
    color: $primary-color;
    
    z-index: 2;

    &--desc {
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 1.28;
        text-align: right;
        color: $text-white;
        margin-bottom: 15px;
    }

    &:nth-child(2) {
        width: 30px;
        height: 30px;
        background-color: $text-white;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: -18;
        z-index: 1;
    } 

    &:nth-child(5) {
        width: 30px;
        height: 30px;
        background-color: $text-white;
        border-radius: 50%;
        position: absolute;
        top: 85;
        right: -18;
        z-index: 1;
    } 
}

.hd-girl {
    position: absolute;
    bottom: 0;
    right: 16px;
    z-index: 2;
}

.hd-icecream {
    position: absolute;
    bottom: 0;
    right: 328px;
    z-index: 2;
}

.hd-circle {
    position: absolute;
    width: 534px;
    height: 534px;
    background-color: $secondary-color;
    border-radius: 50%;
    top: 14px;
    right: 149px;
    z-index: 1;
}