.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 60px;
}

.products__title-list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 20px;
  cursor: pointer;
}

.products__title-item:first-child {
  color: $secondary-color;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.products__title-link {
  color: $primary-color;
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 66px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.products__content-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding-top: 320px;
}

.products__item {
  flex-basis: calc((100% - 64px) / 3);
  display: flex;
  align-items: center;
  position: relative;
  transition: transform 250ms ease-in-out;

  &:hover {
    cursor: pointer;
    transform: translateY(10);
  }
}

.products__item--bgicecream {
  width: 100%;
  height: 535px;
  background-color: $bg-hero;
  border-radius: 24px;
  transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out;

  &:hover {
    box-shadow: 1px 1px 10px $secondary-color;
    background-color: #f89db4ee;
  }
}

.products__item--bgicecoffee {
  width: 100%;
  height: 535px;
  background-color: #f0d1a5;
  border-radius: 24px;
  transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out;

  &:hover {
    box-shadow: 1px 1px 10px $secondary-color;
    background-color: rgb(228, 187, 131);
  }
}
.products__item--milkshakes {
  width: 100%;
  height: 535px;
  background-color: #c2e297;
  border-radius: 24px;
  transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out;

  &:hover {
    box-shadow: 1px 1px 10px $secondary-color;
    background-color: #93c94c;
  }
}

.products__card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 63px 60px;
  position: relative;

  .products__card-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $text-white;
  }

  .products__card-description {
    color: $text-white;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.04em;
    line-height: 1.76;

    &::before {
      content: url('../images/desktop/product-points_1x.png');
      display: flex;
      justify-content: center;
      margin-bottom: 32px;
    }

    &::after {
      content: url('../images/desktop/product-icon-arrow-right_1x.png');
      display: flex;
      justify-content: center;
      margin-top: 60px;
      transition: transform 450ms ease-in-out;
    }
  }
}

.products__card:hover .products__card-description::after {
  transform: rotate(270deg);
}

.products__img {
  width: 368px;
  height: 394px;
  position: absolute;
  left: 50%;
  bottom: 90%;
  transform: translateX(-50%);
}
