$primary-color: #D41443;
$secondary-color: #FFA5BA;
$detail-color-text: #907E82;
$text-white: #FFFFFF;
$bg-hero: #FFB8CA;
$bg-section: #FFF5F6;
$bg-card: #FFFFFF;
$bg-icon-social: #FEA5BB;
$bg-modal: #E17992;