<section class="how-container">
  <div class="letter-1">
    <h2>TRADITION AND LOVE</h2>
  </div>
  <div class="letter-2">
    <h2>HOW IT'S MADE?</h2>
  </div>
  <div class="cow-part"></div>
  <div class="cow-part-2"></div>
  <h2 class="letter-3">
    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
    cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo
    fringilla.
  </h2>
  <h2 class="letter-4">
    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
    Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit
    ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. Aliquam
    erat volutpat. Aenean accumsan.
  </h2>
  <button class="letter-5" type="button">
    <p>Read more</p>
    <svg
      width="8"
      height="10"
      viewBox="0 0 8 10"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1.61646 1L6.04413 5L1.61646 9"
        stroke="#D41443"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </button>
  <div class="letter-6">
    <ul>
      <div>
        <svg height="50px" left="9px">
          <use href="./images/symbol-defs.svg#icon-leche"></use>
        </svg>
      </div>
      <h3>721</h3>
      <p>Aliquam ac dui vel dui vulputate consectetur.Mauris massa.</p>
    </ul>
    <ul>
      <div>
        <svg height="50px" left="9px">
          <use href="./images/symbol-defs.svg#icon-jugo"></use>
        </svg>
      </div>
      <h3>16kg</h3>
      <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </ul>
    <ul>
      <div>
        <svg height="50px" left="9px">
          <use href="./images/symbol-defs.svg#icon-corazon"></use>
        </svg>
      </div>
      <h3>84</h3>
      <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </ul>
  </div>
</section>
