<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Titan+One&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <section class="contacts">
        <div class="contacts_box">
            <div class="contacts_inf">
                <ul class="contacts_ul contacts_ulSpacin">
                    <li class="contacts_li"><h4 class="contacts_h3">CAFE</h4></li>
                    <li class="contacts_li"><p><strong>Chicago</strong></li>
                    <li class="contacts_li">Fusce ut velit laoreet, tempus arcu molestie vulputate</li>
                </ul>

                <ul class="contacts_ul">
                    <li class="contacts_liTwo">Monday - Friday</li>
                    <li class="contacts_liTwo contacts_liPink">06:00 AM - 10:00 PM</li>
                    <li class="contacts_liTwo">Saturday - Sunday</li>
                    <li class="contacts_liTwo contacts_liPink">08:00 AM - 16:00 PM</li>
                </ul>

                <ul class="contacts_ulTwo contacts_hover">
                    <li class="contacts_li">+61(0) 383 766 284</li>
                    <li class="contacts_li">noreply@envato.com</li>
                </ul>
            </div>
        </div>
        <div class="contacts_box">
            <div class="contacts_inf">
                <ul class="contacts_ul contacts_ulSpacin">
                    <li class="contacts_li"><div class="contacts_h3 contacts_FOODTRUCK"><h4 class="contacts_h3_2nd">FOOD TRUCK</h4></div></li>
                    <li class="contacts_li"><p><strong>Los Angeles</strong></li>
                    <li class="contacts_li">Fusce ut velit laoreet, tempus arcu molestie vulputate</li>
                </ul>

                <ul class="contacts_ul">
                    <li class="contacts_liTwo">Monday - Friday</li>
                    <li class="contacts_liTwo contacts_liPink">06:00 AM - 10:00 PM</li>
                    <li class="contacts_liTwo">Saturday - Sunday</li>
                    <li class="contacts_liTwo contacts_liPink">08:00 AM - 16:00 PM</li>
                </ul>

                <ul class="contacts_ulTwo contacts_hover">
                    <li class="contacts_li">+61(0) 383 766 284</li>
                    <li class="contacts_li">noreply@envato.com</li>
                </ul>
                </div>
        </div>
        <div class="contacts_box">
            <div class="contacts_inf">
                <ul class="contacts_ul contacts_ulSpacin">
                    <li class="contacts_li"><h4 class="contacts_h3">CAFE</h4></li>
                    <li class="contacts_li"><p><strong>New York </strong></li>
                    <li class="contacts_li">Fusce ut velit laoreet, tempus arcu molestie vulputate</li>
                </ul>

                <ul class="contacts_ul">
                    <li class="contacts_liTwo">Monday - Friday</li>
                    <li class="contacts_liTwo contacts_liPink">06:00 AM - 10:00 PM</li>
                    <li class="contacts_liTwo">Saturday - Sunday</li>
                    <li class="contacts_liTwo contacts_liPink">08:00 AM - 16:00 PM</li>
                </ul>

                <ul class="contacts_ulTwo contacts_hover">
                    <li class="contacts_li ">+61(0) 383 766 284</li>
                    <li class="contacts_li " >noreply@envato.com</li>
                </ul>
                </div>
        </div>
        <div class="contacts_boxButtoms">
            <button class="contacts_buttoms">Our Locations 
                <svg class="contacts_svg" version="1.1" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 22 32">
                    <title>Vector-1</title>
                    <path fill="none" stroke="#d41443" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4" stroke-width="6.4" d="M5.041 3.2l13.224 12.8-13.224 12.8"></path>
                </svg>
            </button>
            <button class="contacts_buttoms footer_modify">Franchise
                <svg class="contacts_svg" version="1.1" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 22 32">
                    <title>Vector-1</title>
                    <path fill="none" stroke="#d41443" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4" stroke-width="6.4" d="M5.041 3.2l13.224 12.8-13.224 12.8"></path>
                </svg>
            </button>
        </div>
    </section>

    <footer class="footer">
        
        <section class="footer_containFather">
            <div class="footer_text">
                <h3 class="footer_h3">homemade ice cream made</h3>
                <h2 class="footer_h2">with passion</h2>
            </div>
    
            <div class="footer_contacts">
                <div class="footer_contactsSvgBox">
                    <!-- PRIMER-SVG   -->

                    <!-- SEGUNDO-SVG  -->

                    <!-- TERCER-SVG  -->

                </div>
                    <div class="footer_contactsCell"><p>Feel free to contact</p> <p class="footer_contactsP">+61 (0) 383 766 284</p></div>
            </div>
        </section>

        <section class="derechos">
            <p class="derechos_p"> <strong>© 2022 - IceCream. All Rights Reserved.</strong> </p>
        </section>
    </footer>
</body>
</html>