<section class="contacts">
  <div class="contacts__content container">
    <ul class="contacts__box-list link">
      <li class="contacts_box">
        <div class="contacts_inf">
          <ul class="contacts_ul contacts_ulSpacin link">
            <li class="contacts_li"><h4 class="contacts_h3">CAFE</h4></li>
            <li class="contacts_liTwo">Chicago</li>
            <li class="contacts_li">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </li>
          </ul>
          <ul class="contacts_ul">
            <li class="contacts_liTwo">Monday - Friday</li>
            <li class="contacts_liTwo contacts_liPink">06:00 AM - 10:00 PM</li>
            <li class="contacts_liTwo">Saturday - Sunday</li>
            <li class="contacts_liTwo contacts_liPink">08:00 AM - 16:00 PM</li>
          </ul>
          <ul class="contacts_ulTwo contacts_hover">
            <li class="contacts_li">
              <a href="tel:+61(0)383766284" class="link contacts__link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts_li">
              <a href="mailto:noreply@envato.com" class="link contacts__link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts_box">
        <div class="contacts_inf">
          <ul class="contacts_ul contacts_ulSpacin">
            <li class="contacts_li">
              <div class="contacts_h3 contacts_FOODTRUCK">
                <h4 class="contacts_h3_2nd">FOOD TRUCK</h4>
              </div>
            </li>
            <li class="contacts_liTwo">Los Angeles</li>
            <li class="contacts_li">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </li>
          </ul>
          <ul class="contacts_ul">
            <li class="contacts_liTwo">Monday - Friday</li>
            <li class="contacts_liTwo contacts_liPink">06:00 AM - 10:00 PM</li>
            <li class="contacts_liTwo">Saturday - Sunday</li>
            <li class="contacts_liTwo contacts_liPink">08:00 AM - 16:00 PM</li>
          </ul>
          <ul class="contacts_ulTwo contacts_hover">
            <li class="contacts_li">
              <a href="tel:+61(0)383766284" class="link contacts__link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts_li">
              <a href="mailto:noreply@envato.com" class="link contacts__link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts_box">
        <div class="contacts_inf">
          <ul class="contacts_ul contacts_ulSpacin">
            <li class="contacts_li"><h4 class="contacts_h3">CAFE</h4></li>
            <li class="contacts_liTwo">New York</li>
            <li class="contacts_li">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </li>
          </ul>
          <ul class="contacts_ul">
            <li class="contacts_liTwo">Monday - Friday</li>
            <li class="contacts_liTwo contacts_liPink">06:00 AM - 10:00 PM</li>
            <li class="contacts_liTwo">Saturday - Sunday</li>
            <li class="contacts_liTwo contacts_liPink">08:00 AM - 16:00 PM</li>
          </ul>
          <ul class="contacts_ulTwo contacts_hover">
            <li class="contacts_li">
              <a href="tel:+61(0)383766284" class="link contacts__link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts_li">
              <a href="mailto:noreply@envato.com" class="link contacts__link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="contacts_boxButtoms">
      <button class="contacts_buttoms">
        <a href="#" class="contacts_link link">
          Our Locations
          <svg class="contacts_buttomsSvg">
            <use href="./images/symbol-defs.svg#icon-entrar"></use>
          </svg>
        </a>
      </button>
      <button class="contacts_buttoms">
        <a href="#" class="contacts_link link">
          Franchise
          <svg class="contacts_buttomsSvg">
            <use href="./images/symbol-defs.svg#icon-entrar"></use>
          </svg>
        </a>
      </button>
    </div>
  </div>
</section>
