<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <section class="contacts">
        <div class="contacts_box">
            <div class="contacts_inf">
                <div class="contacts_h3"><h3>CAFE</h3></div>
                    <div class="contacts_borderline one">
                        <p><strong>Chicago</strong>  <br> <br> Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <div class="contacts_borderline two">
                        <p>Monday - Friday <br>
                            <p class="contacts_text">06:00 AM - 10:00 PM</p>
                        </p>
        
                        <p>Saturday - Sunday <br>
                            <p class="contacts_text">08:00 AM - 16:00 PM</p>  
                        </p>
                    </div>
                    <div>
                        <p>+61(0) 383 766 284 <br> noreply@envato.com</p>
                    </div>
                </div>
        </div>
        <div class="contacts_box">
            <div class="contacts_inf">
                <div class="contacts_h3 contacts_FOODTRUCK"><h3 class="contacts_h3_2nd">FOOD TRUCK</h3></div>
                    <div class="contacts_borderline one">
                        <p><strong>Los Angeles</strong>  <br> <br> Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <div class="contacts_borderline two">
                        <p>Monday - Friday <br>
                            <p class="contacts_text">06:00 AM - 10:00 PM</p>
                        </p>
        
                        <p>Saturday - Sunday <br>
                            <p class="contacts_text">08:00 AM - 16:00 PM</p>  
                        </p>
                    </div>
                    <div>
                        <p>+61(0) 383 766 284 <br> noreply@envato.com</p>
                    </div>
                </div>
        </div>
        <div class="contacts_box">
            <div class="contacts_inf">
                <div class="contacts_h3"><h3>CAFE</h3></div>
                    <div class="contacts_borderline one">
                        <p><strong>New York</strong>  <br> <br> Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <div class="contacts_borderline two">
                        <p>Monday - Friday <br>
                            <p class="contacts_text">06:00 AM - 10:00 PM</p>
                        </p>
        
                        <p>Saturday - Sunday <br>
                            <p class="contacts_text">08:00 AM - 16:00 PM</p>  
                        </p>
                    </div>
                    <div>
                        <p>+61(0) 383 766 284 <br> noreply@envato.com</p>
                    </div>
                </div>
        </div>
    </section>
</body>
</html>