<section class="customer">
    <div class="container">
        <ul class="link customer__list">
            <li class="customer__item__img">
                <picture>
                    <source media="(min-width: 1200px)" srcset="
                ./images/desktop/customer1-desktop_1x.jpg 1x,
                ./images/desktop/customer1-desktop@2x.jpg 2x,
                ./images/desktop/customer2-desktop_1x.jpg 1x,
                ./images/desktop/customer2-desktop@2x.jpg 2x,
                ./images/desktop/customer3-desktop_1x.jpg 1x,
                ./images/desktop/customer3-desktop@2x.jpg 2x
            " />

                    <img src="./images/customer1.jpg" alt="customers" style="width: auto" />
                </picture>
            </li>

            <ul class="link customer__paragraph__list">
                <li class="customer__paragraph__item">
                    <p class="customer__item__paragraph">
                        <svg class="customer__icon__comillas">
                            <use href="./images/icons.svg#comillas"></use>
                        </svg>
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit

                    </p>

                </li>
                <li class="customer__paragraph__item">
                    <p class="customer__item__paragraph">
                        nulla quam nunc,
                        accumsan congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </li>
            </ul>
            <li class="customer__item__red__circule">
                <a href="#">
                    <svg class="customer__icon__red-circule">
                        <use href="./images/icons.svg#red-circule"></use>
                    </svg>
            </li>


            <li class="customer__item__name">
                <p>
                    Emily, Los Angeles
                </p>
            </li>


            <li class="customer__icon__home-circule">
                <a href="#" class="customer__item__link">
                    <svg>
                        <use href="./images/icons.svg#home-circule"></use>
                    </svg>
            </li>

        </ul>
    </div>
</section>