<footer class="footer">
  <section class="footer__containFather container">
    <ul class="footer__text link footer__item">
      <li class="footer__text-item">
        <h3 class="footer__h3">homemade ice cream made</h3>
      </li>
      <li class="footer__text-item">
        <h2 class="footer__h2">with passion</h2>
      </li>
    </ul>
    <div class="footer__contacts footer__item">
      <ul class="footer__contactsSvgBox link">
        <li>
          <a href="" class="footer__svg-link"
            ><svg width="20" height="20">
              <use href="./images/icons-footer.svg#icon-github-vect"></use></svg
          ></a>
        </li>
        <li>
          <a href="" class="footer__svg-link"
            ><svg width="20" height="20">
              <use
                href="./images/icons-footer.svg#icon-telegram-vect"
              ></use></svg
          ></a>
        </li>
        <li>
          <a href="" class="footer__svg-link"
            ><svg width="20" height="20">
              <use
                href="./images/icons-footer.svg#icon-facebook-vect"
              ></use></svg
          ></a>
        </li>
      </ul>
      <ul class="footer_contactsCell link">
        <p>Feel free to contact</p>
        <p class="footer_contactsP">
          <a href="tel:+61(0)383766284" class="link"> +61 (0) 383 766 284</a>
        </p>
      </ul>
    </div>
    <div class="derechos footer__item">
      <p class="derechos_p">
        <strong>© 2022 - IceCream. All Rights Reserved.</strong>
      </p>
    </div>
  </section>
</footer>
