<section class="gallery">
  <div class="container">
    <ul class="grid-container">
      <li class="grid-item item1">
        <picture>
          <source media="(min-width: 1280px)" srcset="" />
          <source media="(max-width: 767px)" srcset="" />
          <source media="(min-width: 768px)" srcset="" />
          <img src="#" alt="" />
        </picture>
      </li>
      <li class="grid-item item2">
        <picture>
          <source media="(min-width: 1280px)" srcset="" />
          <source media="(max-width: 767px)" srcset="" />
          <source media="(min-width: 768px)" srcset="" />
          <img src="" alt="" />
        </picture>
      </li>
      <li class="grid-item item3">
        <picture>
          <source media="(min-width: 1280px)" srcset="" />
          <source media="(max-width: 767px)" srcset="" />
          <source media="(min-width: 768px)" srcset="" />
          <img src="#" alt="" />
        </picture>
      </li>
      <li class="grid-item item4">
        <picture>
          <source media="(min-width: 1280px)" srcset="" />
          <source media="(max-width: 767px)" srcset="" />
          <source media="(min-width: 768px)" srcset="" />
          <img src="#" alt="" />
        </picture>
      </li>
      <li class="grid-item item5">
        <picture>
          <source media="(min-width: 1280px)" srcset="" />
          <source media="(max-width: 767px)" srcset="" />
          <source media="(min-width: 768px)" srcset="" />
          <img src="#" alt="" />
        </picture>
      </li>
      <li class="grid-item item6">
        <picture>
          <source media="(min-width: 1280px)" srcset="" />
          <source media="(max-width: 767px)" srcset="" />
          <source media="(min-width: 768px)" srcset="" />
          <img src="#" alt="" />
        </picture>
      </li>
      <li class="grid-item item7">
        <picture>
          <source media="(min-width: 1280px)" srcset="" />
          <source media="(max-width: 767px)" srcset="" />
          <source media="(min-width: 768px)" srcset="" />
          <img src="#" alt="" />
        </picture>
      </li>
      <li class="grid-item item8">
        <picture>
          <source media="(min-width: 1280px)" srcset="" />
          <source media="(max-width: 767px)" srcset="" />
          <source media="(min-width: 768px)" srcset="" />
          <img src="#" alt="" />
        </picture>
      </li>
      <li class="grid-item item9">
        <picture>
          <source media="(min-width: 1280px)" srcset="" />
          <source media="(max-width: 767px)" srcset="" />
          <source media="(min-width: 768px)" srcset="" />
          <img src="#" alt="" />
        </picture>
      </li>
      <li class="grid-item item10">
        <picture>
          <source media="(min-width: 1280px)" srcset="" />
          <source media="(max-width: 767px)" srcset="" />
          <source media="(min-width: 768px)" srcset="" />
          <img src="#" alt="" />
        </picture>
      </li>
    </ul>
  </div>
</section>
