<header class="header container">
  <div class="hd-circle"></div>
  <nav class="nav">
    <div class="logo">ICECREAM</div>
    <ul class="list nav__list">
      <li class="nav__item">Home</li>
      <li class="nav__item">About us</li>
      <li class="nav__item">How it's made?</li>
      <li class="nav__item">Our products</li>
      <li class="nav__item">Contact</li>
    </ul>
    <button class="nav__btn">Buy now</button>
  </nav>
  <section class="hd-boxleft">
    <h1 class="hd-title">
      ICE CREAM MADE WITH
      <div class="hd-title--red">PASSION</div>
    </h1>
    <div class="hd-boxleft__buttons">
      <button class="hd-boxleft__btn">Products</button>
      <button class="hd-boxleft__btn">How it's made?</button>
    </div>
  </section>
  <section class="hd-info">
    <img
      src="./images/desktop/milk-hero-desktop@2x.jpg"
      alt="bio eco milk"
      width="213"
    />
    <p class="hd-info__text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore vel
      culpa qui sint deserunt natus, sunt ad cumque necessitatibus architecto
      quaerat facere, voluptates, quas expedita tempore officia ipsum pariatur
      perspiciatis.
    </p>
  </section>
  <section class="hd-values">
    <ul class="list hd-values__list">
      <li class="hd-values__item">16 cafes</li>
      <li class="hd-values__item">23 food trucks</li>
    </ul>
  </section>
  <img
    src="./images/desktop/girl-hero-desktop_1x.jpg"
    alt="girl taste an ice cream"
    width="304"
    class="hd-girl"
  />
  <img
    src="./images/desktop/icecream-hero-desktop_1x.jpg"
    alt="ice cream"
    width="236"
    class="hd-icecream"
  />
</header>
