<section class="products container" id="products">
  <ul class="products__title-list list">
    <li class="products__title-item">100% natural</li>
    <li class="products__title-item">
      <h2>
        <a href="#products" class="products__title-link link">PRODUCTS</a>
      </h2>
    </li>
  </ul>
  <div class="products__content">
    <ul class="products__content-list list">
      <li class="products__item products__item--bgicecream">
        <div class="products__card">
          <h3 class="products__card-title">ice cream</h3>
          <p class="products__card-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
        </div>
      </li>
      <li class="products__item products__item--bgicecoffee">
        <div class="products__card">
          <h3 class="products__card-title">ice coffee</h3>
          <p class="products__card-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
        </div>
      </li>
      <li class="products__item products__item--milkshakes">
        <div class="products__card">
          <h3 class="products__card-title">milkshakes</h3>
          <p class="products__card-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
