<section>
  <h2>CRISTIAN DAVID</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
    accusamus dolor nam magni, facere sint, fuga vero quis voluptatibus laborum,
    exercitationem debitis fugit quos est voluptatem corporis qui nobis quia?
    Facere quos perspiciatis maxime explicabo, est quas sequi dolore! Porro
    ipsum, delectus quos, doloremque laudantium tenetur, nemo ab animi
    consequuntur ratione voluptate! Provident, cumque praesentium facere
    temporibus harum quidem perspiciatis?
  </p>
</section>
